// color
$color-white: white;
$color-black: black;
$color-grey: #b3b3b3;
// font size
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 28px;
$font-4xl: 2.25rem;
$font-5xl: 3rem;
