.todo-container {
  display: flex;
  flex-direction: column;
  //   .top-todo {
  //   }
  .bottom-todo {
    margin-top: 30px;
    border: 1px solid black;
    .todo-item {
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      &:last-child {
        border: none;
      }
      .left-item-todo {
        display: flex;
        align-items: center;
      }
    }
  }
}
